{% extends 'base.html' %}
{% block title %}
  {{author}}
{% endblock %}
{% block content %}
  <body>
    <main>
      <div class="container py-5">
          <h1>Все посты пользователя {{author.username}} </h1>
          <h3>Всего постов: {{author.posts.count}} </h3>
          {% for post in page_obj %}
           <article>
             {% include "includes/posts_rendering.html" with show_group_link=True %}
           </article>
           {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
  </body>
{% endblock %}